* {
  padding: 0;
  margin: 0;
}

.navbar .icon-text {
  display: inline;
}

.logo {
  position: relative;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
}

.logo a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo .logo-img {
  width: 75%;
}

.logo a:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgba(244, 246, 248, 0.1);
  border-radius: 12px;
  padding: 1px 10px;
  margin: 20px 10px;
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: 600;
}

.logo a:nth-child(2):hover {
  border: 1px solid #2daaed;
  color: #2daaed;
}

.sign {
  background-color: #202a36;
  position: relative;
  height: 56px;
  display: flex;
  justify-content: space-evenly;
}

.sign .signin-signout,
.setting {
  background-color: #202a36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign .signin-signout a {
  background-color: #202a36;
  font-size: 13px;
  font-weight: 700;
  padding: 0px 3px;
}

.sign a:hover {
  color: #2daaed;
}

/* .sign .setting a:hover {
  color: #2daaed;
} */

.navbar {
  margin-left: 10px;
  margin-top: 10px;
}

.navbar ul li a {
  position: relative;
  height: 32px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.navbar ul li a:hover {
    
}

.navbar ul li ul li {
  opacity: 0.7;
}

.navbar .arrow {
    position: absolute;
    right: 12px;
}

* a,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit;
}

.menu ul {
  background: #ddd;
  left: 0;
  opacity: 0.7;
  position: absolute;
  width: 202.35px;
}

.menu li:hover ul {
  height: 150px;
  opacity: 1;
  transform: translateY(0);
  display: contents;
  z-index: 1;
}

/* .menu li ul li:hover::before {
  content: "•";
  color: #2daaed;
  display:inline-block;
} */

.menu ul li a {
  color: #b5babf;
  padding-left: 50px;
}