* {
  background-color: #133337;
  padding: 0;
  margin: 0;
}

.navbar .icon-text {
  display: inline;
}

.logo {
  position: relative;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
}

.logo a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo .logo-img {
  width: 75%;
}

.logo a:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgba(244, 246, 248, 0.1);
  border-radius: 12px;
  padding: 1px 10px;
  margin: 20px 10px;
  text-transform: uppercase;
}

.logo a:nth-child(2):hover {
  border: 1px solid #2daaed;
  color: #2daaed;
}

.sign {
  position: relative;
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
}

.sign .signin-signout,
.setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign .signin-signout a {
  padding: 0px 3px;
}

.sign a:hover {
  color: #2daaed;
}

.navbar ul li a {
  position: relative;
  height: 32px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar ul li a:hover {
    
}

* a,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit;
}
