.song-name:hover {
    color: #2daaed;
}

.karaokeic:hover {
    color: #2daaed;
}

.albumname:hover {
  color: #2daaed;
  cursor: pointer;
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #242e39;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #b5babf;
  opacity: .7;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  width: 13em;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.musicquality {
  font-size: 10px;
  padding: 8px;
  border: none;
}

.musicquality:hover {
  border-radius: 10%;
  background-color:#202a36;
}

.songcontrol div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-icon {
  position: relative;
  cursor: pointer;
  border: none; 
  z-index: 1;
}
.volume-icon-container {
  position: relative;
  display: inline-block;
}

.volume-slider {
  display: none;
  width: 80px;
  height: 4px;
  transform: rotate(270deg);
  margin-bottom: 1.2rem;
}

.volume-icon-container:hover .volume-slider {
  display: block;
}

.volume-icon-container:hover .volume-slider-container {
  background-color: #18222d;
  border-radius: 50px;
  position: absolute;
  top: -6.5rem;
  left: -0.5rem;
  width: 2rem;
  height: 8.2rem;
  z-index: 0;
  animation: ease 1s;
}

.volume-icon-container:hover .volume-icon-container * {
  color: #18222d;
}

.now-playing-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em 0;
}

.now-playing-content {
  font-size: 14px;
}

.now-playing-arrow {
  cursor: pointer;
}

.now-playing-arrow:hover *{
  color: #2daaed;
}

.song-list-wrapper {
  background-color: #242e39;
}

.song-list {
  font-size: 0.8em;
  font-weight: 600;
  background-color: #242e39;
  padding: 1.9em 0 0 1.9em;
}

.song {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: inherit;
}

.song-info {
  font-size: 0.8em;
}

.song-info p {
  margin-bottom: 0.5em;
  cursor: default;
  color: #cfd2d6;
  font-weight: 600;
  font-size: 1em;
}

.song-info a {
  color: #61676f;
}

.song *{
  background-color: inherit;
}

.song a:hover {
  color: #2daaed;
}

.song .heard-number {
  width: auto;
  display: flex;
  font-size: 0.8em;
  padding-bottom: 0.5em;
  align-items: end;
  justify-content: space-between;
}

.song-more-ic {
  visibility: hidden;
  position: absolute;
  background-color: transparent;
  right: 1.8em;
  bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-song-more-ic {
  visibility: visible !important;
}

.song-more-ic * {
  padding: 0.7em;
}

.song-more-ic:hover *{
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
}

.song:hover .heard-number {
  visibility: hidden;
}

.song:hover .song-more-ic {
  padding-top: 0.5em;
  visibility: visible;
}

.song:hover {
  background-color: #29323d;
}

.now-playing-song {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.now-playing-song-info {
  display: flex;
  font-size: 0.8em;
}

/* .now-playing-song-info div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.now-playing-song-info-pic {
  position: relative;
  margin-right: 0.7em;
}

.now-playing-song-info-pic img {
  width: 3em;
  height: 3em;
}

.now-playing-song-info-pic-ic {
  background-color: transparent;
  bottom: 0.5em;
  left: 2em;
  position: absolute;
  width: 0.8em;
  height: 0.8em;
}

.now-playing-song .heard-number {
  width: auto;
  height: inherit;
  display: flex;
  font-size: 0.8em;
  padding-top: 1em;
  align-items: end;
}

.now-playing-song:hover .heard-number {
  visibility: hidden;
}

.now-playing-song .song-more-ic {
  position: relative;
}

.now-playing-song .song-more-ic * {
  position: absolute;
  top: -0.5em;
  right: -2em;
}

.now-playing-song:hover .song-more-ic * {
  padding-top: 0.5em;
  visibility: visible;
}

.now-playing-song-info a:hover {
  color: #2daaed;
}

.song-list-scroll::-webkit-scrollbar {
  display: none;
}