
.autoskip-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.autoskip-item.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.arrow div {
  display: none;
}

.slider-container:hover .arrow div{
  display: block;
}